server {
    listen 80;
    listen [::]:80;

    root /srv/www/{{ wp_domain }}/public_html;
    index index.php index.html index.htm index.nginx-debian.html;
    access_log /srv/www/{{ wp_domain }}/logs/access_log combined;
    error_log /srv/www/{{ wp_domain }}/logs/error_log;

    server_name {{ wp_domain }};

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php7.0-fpm.sock;
    }

    location ~ /\.ht {
        deny all;
    }

    location = /favicon.ico { log_not_found off; access_log off; }
    location = /robots.txt { log_not_found off; access_log off; allow all; }
    location ~* \.(css|gif|ico|jpeg|jpg|js|png)$ {
        expires max;
        log_not_found off;
    }
}